[submodule "Submodules/bjpierron_SmartThings-Alexa"]
	path = Submodules/bjpierron_SmartThings-Alexa
	url = https://github.com/bjpierron/SmartThings-Alexa.git
	branch = master
[submodule "Submodules/krlaframboise_SmartThings"]
	path = Submodules/krlaframboise_SmartThings
	url = https://github.com/krlaframboise/SmartThings.git
	branch = master
[submodule "Submodules/RobinWinbourne_devicetypes"]
	path = Submodules/RobinWinbourne_devicetypes
	url = https://github.com/RobinWinbourne/devicetypes.git
	branch = master
[submodule "Submodules/pstuart_Generic-Video-Camera"]
	path = Submodules/pstuart_Generic-Video-Camera
	url = https://github.com/pstuart/Generic-Video-Camera.git
	branch = master
[submodule "Submodules/loverso-smartthings_googleDocsLogging"]
	path = Submodules/loverso-smartthings_googleDocsLogging
	url = https://github.com/loverso-smartthings/googleDocsLogging.git
	branch = master
[submodule "Submodules/infofiend_GCal-Search"]
	path = Submodules/infofiend_GCal-Search
	url = https://github.com/infofiend/GCal-Search.git
	branch = master
[submodule "Submodules/iBeech_SmartThings"]
	path = Submodules/iBeech_SmartThings
	url = https://github.com/iBeech/SmartThings.git
	branch = master
[submodule "Submodules/jebbett_Plex2SmartThings"]
	path = Submodules/jebbett_Plex2SmartThings
	url = https://github.com/jebbett/Plex2SmartThings.git
	branch = PlexPlus
[submodule "Submodules/jebbett_Plex-Communicator"]
	path = Submodules/jebbett_Plex-Communicator
	url = https://github.com/jebbett/Plex-Communicator.git
	branch = master
